* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 234, 234);
}

div {
  background-color: #fff;
}

.popup {
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.popup {
  display: none;
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  min-height: 500px;
  margin: 0 auto;
}

.show {
  margin-top: 200px;
  animation: slideUp 0.8s alternate ease;
}

.hide {
  animation: slideDown 1s alternate ease;
  transform: translateY(1500px);
}

.popup_content {
  width: 100%;
  height: 100%;
  display: flex;
}

#catImage {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  width: 50%;
  height: 500px;
}

.factsContent {
  padding: 3rem;
  width: 50%;
  height: 500px;
}

.heading {
  font-weight: 700;
}

.factsContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#facts_list {
  height: 150px;
  margin-top: 2rem;
  padding-left: 1rem;
}

#facts_list li {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.btn_container {
  width: 100%;
  margin-top: -1rem;
}

#btn {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  color: #fff;
  font-weight: 700;
  background-color: #000000;
  cursor: pointer;
}

@keyframes slideUp {
  0% {
    transform: translateY(1500px) translate(-50%, -50%);
  }

  100% {
    transform: translateY(0) translate(-50%, -50%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0) translate(-50%, -50%);
  }

  100% {
    transform: translateY(1500px) translate(-50%, -50%);
  }
}

#close-i {
  position: absolute;
  cursor: pointer;
  right: 10px;
}

#close-i:after {
  display: inline-block;
  content: "\00d7"; /*  renders the 'X' */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}
